#root{
  --primary-color: #30557c;
}
.sign-in-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .sign-in-box {
    max-width: 450px;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .sign-in-header {
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .sign-in-form {
    width: 100%;
  }
  
  .sign-in-button {
    margin-top: 20px;
    padding: 12px 16px;
    font-weight: bold;
  }
  
  .google-sign-in-button {
    margin-top: 20px;
    padding: 12px 16px;
    border-color: var(--primary-color);
    color: var(--primary-color);
  }
  
  .google-sign-in-button:hover {
    background-color: var(--primary-color);
  }
  
  .sign-in-error {
    margin-top: 20px;
  }
  
  .sign-in-success {
    margin-top: 20px;
  }
  