#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(244, 253, 252);
  width: 100vw;
  height: 100vh;
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }
}

.circle {
  position: fixed;
  pointer-events: none;
  z-index: 5;
}

.circle-fill {
  width: 30px;
  height: 30px;
  background-color: rgba(52, 181, 255, 0.7);
  border-radius: 50%;
}

@media (max-width: 768px) {
  .circle-fill {
    width: 20px;
    height: 20px;
  }
}
.circle-border {
  width: 60px;
  height: 60px;
  border: 2px solid rgba(52, 181, 255, 0.7);;
  border-radius: 50%;
  transition: transform 0.7s ease-in-out;
}

@media (max-width: 768px) {
  .circle-border {
    width: 40px;
    height: 40px;
  }
  #root{
    height: 100vh;
  }
}